$poker-orange: #FF9100;
$poker-orange-bright: #FF9C19;
$poker-orange-dark: #B26500;

$poker-blue: #00A3FF;
$poker-blue: #0072B2;
$poker-green: #19FF54;
$poker-yellow: #FFC80D;

$poker-gray: #272B30;
$poker-gray-light: #65707C;
$poker-gray-bright: #A3B4C9;
$poker-blue: #405B7C;
